.section_two {
  padding: 1.4rem;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  color: #fff;
}

.image {
  border-radius: 50%;
  margin-right: 1rem;
  width: 3rem;
  border: 2px solid #fff;
}

.person > p {
  font-size: 1.2em;
  font-weight: 600;
}

h1 {
  margin-top: 2rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.section_two__name {
  display: flex;
  align-items: center;
}
